.carousel-heading {
  font-family: "Work Sans";
  position: relative;
  padding-top: 0.5rem;
  margin-left: -47px;
  padding-bottom: 2.25rem;
  height: 5rem;
  width: 12.5rem;
  color: #232323;
  font-size: 31px;
  font-weight: 600;
  letter-spacing: -0.0125rem;
  line-height: 2.75rem;
  text-align: left;

  @media only screen and (min-width: 1336px) {
    width: 12.5rem;
    margin-left: 0.125rem;
    margin-bottom: 0.25rem;
    line-height: 2.5rem;
  }

  @media only screen and (min-width: 1920px) {
    width: 13.5rem;
    margin-left: 2.4375rem;
  }
}

.carousel-wrapper {
  @media (min-width: 1336px) {
    margin-top: 10rem;
  }

  @media (min-width: 768px) {
    margin-top: 10rem;
  }

  @media (min-width: 480px) {
    margin-top: 10rem;
  }
}

.arrow {
  box-shadow: 0 0.125rem 0.55rem 0 rgba(0, 0, 0, 0.32);

  width: 2.5rem;
  height: 2.5rem;
  background-color: black;
  border-radius: 50%;
  color: white;
  &:hover {
    background-color: #ffcc00;
    box-shadow: 0 0.125rem 0.55rem 0 rgba(0, 0, 0, 0.32);
  }
}
